<!-- About section -->
<div class="section scrollspy section-gray-section" id="about">
   <div class="container">
      <h4 class="center-align section-gray-header">About</h4>
      <div class="row">
         <div class="col s12 m10 offset-m1 l8 offset-l2 section-gray-body" style="text-align: justify">
            <p> The Workshop on Modeling and Simulation of Extreme Events - HYDROROM Workshop 2026 is set to be an international forum for researchers engaged in the modeling and simulation of natural disasters. In an era marked by climate change, which is intensifying the frequency and severity of extreme events, this workshop takes on crucial importance. Focusing on phenomena such as floods, landslides, and debris flows, the event aims to share the latest methodologies and technologies for predicting, monitoring, and mitigating the impact of these disasters. Special attention will be given to the computational challenges in simulating complex hydraulic systems and adapting existing infrastructure to new climate realities. The HYDROROM Workshop 2026 seeks to stimulate interdisciplinary collaboration and promote innovative solutions to increase the resilience of our communities in the face of a future characterized by growing hydrogeological risks.
            </p>
         </div>
      </div>
   </div>
</div>
