<!-- Contributors section -->
<div class="section scrollspy section-white-section" id="contributors">
  <div class="container">
    <h4 class="center-align section-white-header">List of Contributors</h4>
    <div class="logo-row"> This workshop is funded by the project Hydro-ROM: , “Reduced order models of hydraulic protection systems for extreme water hazards”, PRIN222022PXYYK5, CUP: H53D23001350006.  </div>
    <div class="logo-container">
      <div class="logo-row">
        <a href="https://www.unipd.it/en/" class="logo-link">
           <img class="responsive-img logo" src="assets/img/logos/unipd.png" alt="UNIPD logo">
         </a>
        <a href="https://www.math.unipd.it/en/" class="logo-link">
            <img class="responsive-img logo" src="assets/img/logos/math-unipd2.png" alt="Math UNIPD logo">
        </a>
      </div>
      <div class="logo-row">
          <a href="https://www.math.unipd.it/ricerca/progetti/progetto/14/" class="logo-link wide">
             <img class="responsive-img logo" src="assets/img/logos/prnn_loghi.png" alt="PRIN logo">
            </a>
      </div>
    </div>


  </div>
</div>
