<!-- Schedule section -->
<!--
<div class="section scrollspy section-gray-section" id="schedule">
   <div class="container">
      <h4 class="center-align section-gray-header">Schedule (coming soon!)</h4>
      <div class="row">
         <!-- First Day --> <!-- 
          {% for day in site.data.schedule.days %}
         <div id="{{day.name}}" class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            {% for session in day.sessions %}
            <table class="schedule">
               <tbody>
                  {% if session.talks %}
                  <tr>
                     <th></th>
                     <td><h5>{{session.title}}</h5></td>
                  </tr>
                  {% for talk in session.talks %}
                  <tr>
                     <th>{{talk.start_time}}-{{talk.end_time}}</th>
                     {% assign talksp = site.data.talks[talk.label] %}
                     {% assign speaker = site.data.speakers[talksp.speaker] %}
                     <td>
                        {{talksp.title}}
                        <i>({{speaker.name}})</i>
                     </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr class="blue-grey lighten-5">
                     <th>{{session.start_time}}-{{session.end_time}}</th>
                     <td style="color: #a9b2b9; font-size: 15px; font-weight: 500">
                        {{session.title}}
                     </td>
                  </tr>
                  {% endif %}
               </tbody>
            </table>
            {% endfor %}
         </div>
         {% endfor %}
      </div>
      <div class="row">
      </div>
   </div>
</div> -->

<!-- Schedule section -->
<div class="section scrollspy section-gray-section" id="schedule">
   <div class="container">
      <h4 class="center-align section-gray-header">Schedule</h4>
      <div class="row">
         <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
            <table class="schedule">
               <tbody>
                  <tr>
                     <th class="time-column"> Time</th>
                     <th> HYDROROM 2026 - February 26, 2026</th>
                  </tr>
                  <tr>
                     <td class="time-column"> 9:00 - 9:30</td>
                     <td>Welcome</td>
                  </tr>
                  <tr>
                     <td>9:30 - 11:15</td>
                     <td>
                        <strong>Session 1</strong><br>
                        9:30 - 10:15:  <b>Prof. K. Terada</b>  <i>"Diversification, Enhancement, and Integration (DEI) in  Computational Safety Engineering and Advanced Computational Mechanics Laboratories"</i> <br>
                        10:15 - 10:45: <b>Prof. F. Ceccato</b> <i>"Simulating Real-World Natural Hazards with the Material Point Method: An Overview"</i><br>
                        10:45 - 11:15: <b>Prof. A. D'Alpaos</b> <i>- Title TBA</i>
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td>11:15 - 11:30</td>
                     <td>Coffee Break</td>
                  </tr>
                  <tr>
                     <td>11:30 - 13:00</td>
                     <td>
                        <strong>Session 2</strong><br>
                        11:30 - 12:00: <b>Prof. S. Moriguchi</b> <i>"3D LEM-Based Regional-Scale Slope Stability Analysis"</i><br>
                        12:00 - 12:30: <b>Dr. L. Moreno-Martinez and Prof. A. Larese</b> <i>"Multiphysics Modeling of Natural Hazards: Numerical Approaches for Structural Impact Assessment"</i><br>
                        12:30 - 13:00: <b> Dr. D. Kumar and Prof. D. Pasetto</b> <i>"RBF-based Surrogate models of a high-fidelity simulations of a granular flow"</i>
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td>13:00 - 14:00</td>
                     <td>Lunch Break</td>
                  </tr>
                  <tr>
                     <td>14:00 - 16:00</td>
                     <td>
                        <strong>Session 3</strong><br>
                        14:00 - 14:45: <b>Prof. C. Gregoretti</b> <i>Title TBA</i><br>
                        14:45 - 15:15: <b>Dr. N. Dolojan </b><i>"Wide-area debris flow simulation using shallow water SPH method"</i> <br>
                        15:15 - 15:45: Talk 3 <i>(TBA)</i> <br>
                        <!--15:30 - 16:00: Talk 4 (TBA)-->
                     </td>
                  </tr>
                  <tr class="blue-grey lighten-5">
                     <td>15:45 - 16:15</td>
                     <td>Coffee Break</td>
                  </tr>
                  <tr>
                     <td>16:15 - 16:00</td>
                     <td>
                        <strong>Session 4</strong><br>
                        16:15 - 16:45: <b> Prof. M. Marani </b>  <i>"Research on Climate Change Impacts at the University of Padova"</i> <br>
                        16:45 - 17:15: <b>Dr. R. Nomura </b> <i>"Impact Force Evaluation in 2D Debris Flow Simulations Based on Steep-Slope Shallow Water Equation"</i> <br>
                        17:15 - 17:45: <b>Dr. E. Bachini </b> <i>Title TBA</i>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>

