<!-- Venue section -->
<div class="section scrollspy section-white-section" id="venue">
  <div class="container">
    <h4 class="center-align section-white-header">Workshop Venue</h4>

    <div class="row">
      <div class="col s12 section-white-body">
        <address>
          Barco Teatro <br />
          Via Orto Botanico 12 - Padova (Italy) <br />
        </address>
        <a href="https://www.barcoteatro.it/dove-siamo" target="_blank">Web page Barco Teatro (in Italian)</a>
        <div style="margin-bottom: 20px;"></div>
        <p style="text-align: justify">
          Barco Teatro is located at Via Orto Botanico 12 in Padua, inside the barchessa (portico) of the 17th-century Villa Tron monumental complex. It sits at the center of one of the most impressive monumental triangulations in the city of Padua, composed of the Basilica of St. Anthony, the Botanical Garden, and Prato della Valle.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6 section-white-body">
        <div style="text-align: justify">
          <span style="font-weight: bold">How to reach us and where to park:</span>
          <ul>
            <li style="margin-bottom:5px; margin-left:0px; list-style-type: disc">
              Tram Line (stop "Santo"), bus lines 3, 5, 8, 11, 12, 13, 16, 22, 24, DP-Diretto Piazze (stops Santo/ Prato della Valle); Extra-urban lines A, AT, M, T, taxi stand in Piazza del Santo.
            </li>
            <li style="margin-bottom:5px; margin-left:0px; list-style-type: disc">
              Paid and free parking for cars in Piazza del Santo, Via Cesarotti, Prato della Valle, former Foro Boario; 
              bike-sharing stations in Via Cesarotti, Prato della Valle and Piazzale Pontecorvo, car-sharing station in Prato della Valle.
            </li>
          </ul>
        </div>
      </div>
      <div class="col s12 m6 l6 section-white-body">
        <div class="google-maps">
          <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>